<!doctype html>
<html>
  <head>
<title>maps</title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
{#
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}

{% if airports %}
{{ airports }}
{% endif %}
#}
    <div id="map"></div>
    <script type="text/javascript">

airports = {{ airports }};
routes = {{ routes }};

var map;
function initMap() {

var heatmapData = [];
for (var i = 0; i < airports.length; i++) {
 //console.log(airports[i]);
 heatmapData[i] = {location: new google.maps.LatLng(airports[i][0], airports[i][1]), weight: 1};
}

var central = new google.maps.LatLng(37.782, -122.435);

map = new google.maps.Map(document.getElementById('map'), {
  center: central,
  zoom: 3,
  mapTypeId: google.maps.MapTypeId.SATELLITE
});

// ----
  //var map = new google.maps.Map(document.getElementById('map'), {
  //  zoom: 3,
  //  center: {lat: 0, lng: -180},
  //  mapTypeId: google.maps.MapTypeId.TERRAIN
  //});

for (var i = 0; i < routes.length; i++) {
  //console.log(routes[i][0][0]);
  var flightPlanCoordinates = [
    {lat: routes[i][0][0], lng: routes[i][0][1]},
    {lat: routes[i][1][0], lng: routes[i][1][1]},
  ];
  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 0.4,
    strokeWeight: 1
  });
  flightPath.setMap(map);
}
// -----

var heatmap = new google.maps.visualization.HeatmapLayer({
  data: heatmapData,
  maxIntensity: 5,
  radius: 21,
  opacity: 0.4,
});
heatmap.setMap(map);

}

    </script>
{#
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7HyeyVnsVOEtjeWG8wlYvvEo6PEwlfvI">
</script>
#}
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7HyeyVnsVOEtjeWG8wlYvvEo6PEwlfvI&libraries=visualization&sensor=true_or_false&callback=initMap">
</script>
  </body>
</html>
{#

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 3
  });

//for (var i = 0; i < airports.length; i++) {
for (var i = 0; i < 10; i++) {
 //console.log(airports[i]);
 // Create a marker and set its position.
  var marker = new google.maps.Marker({
    map: map,
    position: {lat: airports[i][0], lng: airports[i][1]},
    title: 'Hello World!'
  });

}

#}
